html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    /*overflow: hidden;*/
    font-family: 'Fira Sans', sans-serif;
    background-color: #E8EEF4;
    overflow: hidden;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.container.main {
    position: relative;
    top: 20%;
    margin-bottom: 20%;
    z-index: 2;
    background-color: rgba(20, 20, 20, 0.7);
    border-radius: 3px;
    padding: 2em;
    color: white;
}

.contact-grid .columns {
    text-align: center;
    border-radius: 4px;
    font-size: 1rem;
    text-transform: uppercase;
    line-height: 30px;
    margin-bottom: .75rem;
    font-weight: 600;
    letter-spacing: .1rem;
}

a.icon-circle {
    color: white;
    font-size: 2.2em;
    border-radius: 100%;
    margin: 0 auto;
    height: 2.2em;
    width: 2.2em;
    line-height: 2.2em;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
}

a.icon-circle:hover {
    transform: scale(1.2);
}

a.icon-circle:hover {
    color: white;
}

.icon-circle.twitter {
    background: #70aecd;
}

.icon-circle.github {
    background: grey;
}

.icon-circle.mail {
    background: #db6b67;
}

.foraar {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}